title #{pageTitle || 'HTML Dummy'}

<!-- Project version: #{pkg.version} -->

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="author", content="Lennart Pegel")
if metaDescription
    meta(name="description", content=metaDescription)
if metaKeywords
    meta(name="keywords", content=metaKeywords)
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel='icon', href=resourceUrl('/images/favicon.png'), size="32x32", type='image/png')
